@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Noto Kufi Arabic', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --color-primary-50: #fdf4ff;
    --color-primary-100: #fae8ff;
    --color-primary-200: #f5d0fe;
    --color-primary-300: #f0abfc;
    --color-primary-400: #e879f9;
    --color-primary-500: #d946ef;
    --color-primary-600: #c026d3;
    --color-primary-700: #a21caf;
    --color-primary-800: #86198f;
    --color-primary-900: #701a75;
    --color-primary-950: #4a044e;
}
